Rolodex/.DS_Store
Rolodex/node_modules
Rolodex/dist

# local env files
Rolodex/.env.local
Rolodex/.env.*.local
Rolodex/src/.config.js

# Log files
Rolodex/npm-debug.log*
Rolodex/yarn-debug.log*
Rolodex/yarn-error.log*

AspNetCore/obj/Debug/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.min.css
*.min.js
*.map
.vscode/
[Dd]ebug/
[Dd]ebugPublic/